<include src="main-block-trip.html"></include>

    <div class="trip__block trip__block--1">
        <div class="trip__main-title">
            <img src="images/trip-main-title.svg" alt="trip">
        </div>
        <div class="trip__container trip__container--1 main-width">
            <div class="trip__title trip__title--1">
                <div>1</div>
                <div>основные</div>
                <div>правила</div>
            </div> 
            <div class="rules__note">
                Решение о направлении в командировку
            </div>
            <div class="rules">
                <div class="rules__items">
                    <div class="rules__item">
                        Решение о направлении в командировку принимает <b>C- Level руководитель — Дживан М.</b> и в некоторых случаях лид команды в зависимости от цели поездки. Командируемый сотрудник заполняет и направляет заявку в определенном формате на командировку в HR. 
                    </div>
                     <div class="rules__item">
                        Сотрудник направляет в HR заявку на согласование командировки <b>не менее чем за 7-10 рабочих дней</b>
<br>до предполагаемой даты поездки (без учета сроков оформления визы в страну командировки, если применимо).
                    </div>
                     <div class="rules__item">
                        HR согласовывает заявку с прямым руководителем 
и при необходимости с C-Level руководителем — Дживаном М. В случае положительного ответа HR направляет инструкцию по командировкам и сотрудник начинает самостоятельную работу с Travel-отделом (ниже подробнее).
                    </div>
                     <div class="rules__item">
                        Ответственный HR за получение и обработку запросов 
на командировки —  <b>Виктория Седаш</b>, People Partner, Reddy 68139125607.
                    </div>
                     <div class="rules__item">
                        Внимательно ознакомьтесь с правилами оформления командировочной поездки от Travel-отдела <br>при планировании поездки.
                    </div>
                     <div class="rules__item">
                        На каждого сотрудника, направляющегося в поездку, заполняется <b>отдельная заявка</b>.
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>